---
layout: root.njk
title: Item 3
tags:
  - item
allignore: true
description: Example of product-template error
---
<br />
<div id="box">
    <button class="btn-black  py-0.5 px-1" click="product3">Show product 3</button>
</div>
<template id="product-templa">
    <h1 class="h1">[[product.title]]</h1>
    <p>
        [[product.description]]
    </p>
</template>

<p class="text-red-500" id="error"></p>

<template id="error-template">
    <div>
        <p>[[error]]</p>
        <p>[[description]]</p>
    </div>
</template>
