---
layout: root.njk
title: Item 5
tags:
  - item
allignore: true
description: Error in template keyword / showcase if not injected with data
---
<br />
<div id="box">
    <button class="btn-black  py-0.5 px-1" click="product5">Show product 5</button>
</div>
<template id="product-template">
    <h1 class="h1">[[product.title]]</h1>
    <p>
        [[product.deription]]
    </p>
</template>


<p class="text-red-500" id="error"></p>

<template id="error-template">
    <div>
        <p>[[error]]</p>
        <p>[[description]]</p>
    </div>
</template>
