---
layout: root.njk
title: About
allignore: true
description: Description about
---

<div>
    <h2>About header</h2>
    <p>
        About page
    </p>
    <a href="/">Go home</a>
</div>


<script src="/_js/index1.js" type="module" ></script>
