---
layout: root.njk
title: Title
allignore: true
description: Description
---
<h1 click="click" class="h1">template</h1>
<p class="text-lg">{{config.info}}</p>


<div id="box-click"></div>
<template id="template-click">
    <div>
        <p>[[name]]</p>
    </div>
</template>


<div id="box-error"></div>
<template id="template-error">
    <div>
        <p>[[name]]</p>
    </div>
</template>

<!-- <p click="clack" >
     Hello world
     </p>

     <a href="/about">Go about</a>

     <p class="text-red-500" id="error"></p>

     <template id="error-template">
     <div>
     <p>[[error]]</p>
     <p>[[description]]</p>
     </div>
     </template>
     <p click="hack">hack</p>
     <ul id="ul">

     </ul>
     <p>
     {{config.env}}
     </p>

     <template id="template-item">
     <li>
     <p>[[name]]</p>
     <p>[[surname]]</p>
     </li>
     </template>

     <div id="box"></div>
     <template id="test-template">
     <p>[[profile.name]]</p>
     </template>
-->
