---
layout: root.njk
title: Title
allignore: true
description: Description
---
<h1 class="h1">Simple web template</h1>
<p>
  Hello world
</p>
<template id="test-template">
  <p>[[change.thing]]</p>
</template>
