  <header class="container">
    <div class="mx-auto max-w-40 w-full mt-1 text-right t:text-left">
    <ul class="italic space-y-1 t:space-y-auto text-lg t:flex t:flex-row">
        <li><a {% if page.url == '/' %}class="btn btn-active" aria-current="page"{% else %}class="btn"{% endif %} href="/">root</a></li>
        <li><a {% if page.url == '/about' %}class="btn btn-active" aria-current="page"{% else %}class="btn"{% endif %} href="/about">about</a></li>
        <li><a {% if page.url == '/items' %}class="btn btn-active" aria-current="page"{% else %}class="btn"{% endif %} href="/items">items</a></li>
    </ul>
    </div>
  </header>
